<%- include('partials/header') %>
<body class="text-center">
  <main class="form-signin w-100 m-auto">
    <img class="mb-4" src="/images/home.ico" alt="" width="100" height="100" />
    <h1 class="h3 mb-3 fw-normal">Login Here</h1>
    <form action="/login" method="post">
      <input
      <input
        type="email"
        name="email"
        class="form-control top"
        placeholder="Email"
      />
      <input
        type="password"
        name="password"
        class="form-control bottom"
        placeholder="password"
      />

      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Log In Now
      </button>
    </form>
    <script src="/js/user.js"></script>
  <%- include('partials/footer') %>

