<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rock Paper Scissor</title>
    <link rel="shortcut icon" href="./images/play.ico" type="image/x-icon" />
    <!-- bootsrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
    <!-- css  -->
    <link rel="stylesheet" href="./css/play.css" />
    <!-- font awesome -->
    <script
      src="https://kit.fontawesome.com/9ce5f73dab.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary d-flex flex-row">
      <div class="container-fluid">
        <a class="navbar-item me-4" href="/"
          ><i class="fa-sharp fa-solid fa-circle-arrow-left fa-xl"></i>
        </a>
        <a class="navbar-brand ms-1 me-4" href="#"
          ><img src="./images/icon.png" alt=""
        /></a>
        <a class="nav-link me-auto mb-2 mb-lg-0" href="play"
          >ROCK PAPER SCISSORS</a
        >
      </div>
    </nav>
    <div class="container-fluid text-center pt-5">
      <div class="row">
        <div class="col-5">
          <h2><%= user.nick %></h2>
          <div type="button">
            <img
              id="batu"
              class="hands btn rotate"
              src="./images/batu.png"
              alt="batu"
            />
          </div>
          <div type="button">
            <img
              id="kertas"
              class="hands btn rotate"
              src="./images/kertas.png"
              alt="kertas"
            />
          </div>
          <div type="button">
            <img
              id="gunting"
              class="hands btn rotate"
              src="./images/gunting.png"
              alt="gunting"
            />
          </div>
        </div>
        <div class="col-2 vs my-auto"><h1>VS</h1></div>
        <div class="col-5">
          <h2>COM</h2>
          <div>
            <img
              id="batucomp"
              class="btn rotate"
              src="./images/batu.png"
              alt="batu"
            />
          </div>
          <div>
            <img
              id="kertascomp"
              class="btn rotate"
              src="./images/kertas.png"
              alt="kertas"
            />
          </div>
          <div>
            <img
              id="guntingcomp"
              class="btn rotate"
              src="./images/gunting.png"
              alt="gunting"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid text-center mt-n1">
      <img
        id="reset"
        type="button"
        class="btn refresh"
        src="./images/refresh.png"
        alt=""
      />
    </div>
    <script src="./js/play.js"></script>
  </body>
</html>
